footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: var(--font-family);
}

footer svg {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 8px;
}

footer svg:hover {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

nav a {
  opacity: 0.7 !important;
  color: var(--secondary-color) !important;
}

nav a:hover {
  color: var(--secondary-color) !important;
}

.contact-form-container,
.form-submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto 36px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.form-submit-container {
  padding: 45px;
}

.form-submit-container svg {
  margin-right: 8px;
}

form {
  text-align: center;
  margin: 32px;
  font-family: var(--font-family);
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 24px;
}

form label {
  font-weight: bold;
  opacity: 60%;
}

form input,
form textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary-color);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
}

form textarea {
  border: 1px solid var(--secondary-color);
}

form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--secondary-color);
}

.navbar-nav a.active {
  color: var(--secondary-color) !important;
}

.nav-link {
  margin-left: 30px;
  margin-right: 40px;
}

form button,
.reset-button,
.btn-branding {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
  font-family: var(--font-family);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  box-sizing: border-box;
  white-space: nowrap;
  font-weight: 500;
}

form button:hover,
.reset-button:hover,
.btn-branding:hover {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  text-decoration: none !important;
}
.content-container .btn-branding {
  margin: 0 auto;
}

.btn-branding-case {
  background-color: transparent;
  border-radius: 10px;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--font-family);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  font-weight: 500;
  margin-left: 20px;
}

.btn-branding-outline {
  background-color: transparent;
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
  font-family: var(--font-family);
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.btn-branding-outline svg {
  margin-right: 0;
}

.btn-branding-case:hover,
.btn-branding-outline:hover {
  color: #fff;
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  text-decoration: none !important;
}

.logo {
  width: 80px;
  margin-left: 20px;
  margin-right: 30px;
}

.project-name {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: var(--head-font-family);
  font-size: 44px;
}

.projects-images,
.projects-images-show {
  border-radius: 20px;
}

.profile-photo {
  border-radius: 50% 20% / 10% 40%;
  box-shadow: 12px 12px 2px 1px var(--main-bg-color);
  margin-top: 50px;
  margin-right: 46px;
}

.about-logo {
  width: 145px;
}

.profile-illustration {
  width: 100%;
  z-index: 4;
  position: relative;
  opacity: 0.8;
}

.btn-code {
  display: inline;
  background-color: var(--secondary-color);
  border-radius: 6px;
  color: var(--main-bg-color);
  font-size: 16px;
  line-height: 16px;
  padding: 10px 12px;
  text-decoration: none;
  font-family: var(--font-family);
  border: 2px solid var(--main-bg-color);
  box-sizing: border-box;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
  align-items: center;
  margin-left: 14px;
}

.btn-code:hover {
  display: inline;
  background-color: var(--secondary-color);
  border-radius: 6px;
  color: var(--main-bg-color);
  font-size: 16px;
  line-height: 16px;
  padding: 10px 12px;
  text-decoration: none;
  font-family: var(--font-family);
  border: 2px solid var(--main-bg-color);
  box-sizing: border-box;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  white-space: nowrap;
  align-items: center;
  margin-left: 14px;
}

.btn-code.active,
.btn-code:hover {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-code.active:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.code-box {
  display: block;
  width: 80%;
  text-align: start;
  line-height: 1.2;
  border: 1px solid #ccc;
  color: #fff;
  padding: 10px;
  margin: 10px auto;
  height: 120px;
  background-color: #000;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 40px;
}

.button-link {
  display: inline-block;
  padding: 1px 8px;
  font-size: 36px;
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: var(--secondary-color);
}
