@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "./App.css";
@import "./media-queries.css";

:root {
  --head-font-family: "Josefin Sans", cursive;
  --font-family: "Roboto Mono", monospace;
  --main-bg-color: #f7f1e1;
  --secondary-color: darkolivegreen;
  --accent-color: #f8f9fa;

  /* Shared fallback colors */
  --primary-color: darkolivegreen;
  --bg-soft: #f7f1e1;
  --text-main: #f7f1e1;
}

[data-theme="web"] {
  --primary-color: darkolivegreen;
  --main-bg-color: #f7f1e1;
}

[data-theme="data"] {
  --primary-color: #552205;
  --main-bg-color: #fceaeb;
  --text-main: #fceaeb;
  --secondary-color: #552205;
}
