.hero {
  padding-top: 150px;
  padding-bottom: 40px;
  text-align: center;
  background-color: var(--main-bg-color);
  z-index: 3;
  position: relative;
}

.content-wrapper {
  position: relative;
  z-index: 2;
}

.wave {
  position: absolute;
  bottom: -1;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.wave-container {
  width: 110%;
}

.wave svg {
  display: block;
  width: 100%;
  height: auto;
}

.sub-header {
  background-color: var(--secondary-color);
  padding-top: 160px;
  margin-top: -10px; /* Adjust to place it correctly below the wave */
  z-index: 1;
}

.projects-container {
  margin-top: 0px;
  margin-bottom: 100px;
}

.content-container {
  margin-top: 140px;
  margin-bottom: 100px;
}

.description {
  padding: 36px 20px 20px 46px !important;
  opacity: 0.9;
  line-height: 30px;
}

.content {
  padding-left: 46px !important;
}

.navbar {
  font-family: var(--font-family);
  background-color: var(--main-bg-color) !important;
}

.contact-box {
  padding: 30px 90px;
  margin: 50px 100px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}
