html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  padding-top: 150px;
  padding-bottom: 0;
  text-align: center;
  background-color: var(--main-bg-color);
  position: relative;
}

.content-wrapper {
  position: relative;
  padding-bottom: 0;
  z-index: 2;
}

.sub-header {
  background-color: var(--secondary-color);
  padding-bottom: 40px;
  padding-top: 60px;
}

.projects-container {
  margin-top: 0px;
  margin-bottom: 100px;
}

.content-container {
  margin-top: 140px;
  margin-bottom: 100px;
}

.description {
  padding: 36px 20px 20px 46px !important;
  opacity: 0.9;
  line-height: 30px;
}

.content {
  padding-left: 96px !important;
}

.contact-box {
  padding: 30px 90px;
  margin: 50px 100px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.tab-container {
  width: 100%;
  overflow: hidden;
  /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075); */
  display: flex;
  flex-direction: column;
}
.tab-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px auto 0;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  width: 100%;
  font-family: var(--font-family);
}

.tab-style li {
  flex: 0 1 auto;
  white-space: nowrap;
  min-width: 60px;
  text-align: center;
  padding: 8px 20%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.tab-style li div {
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 1px;
}
