@media (max-width: 900px) {
  ul {
    padding: 0 8px;
  }

  .navbar-header {
    top: 16px;
  }
  .navbar-toggle-wrapper {
    top: 6px;
  }

  footer svg {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 16px;
  }

  .description p {
    text-align: center;
    margin: 0 10px;
  }

  .content-container {
    margin-top: 90px;
    text-align: center;
  }

  .content-container img {
    width: 70%;
    margin: 0 auto;
  }

  .content-container .btn-branding {
    margin: 0 auto;
  }

  .content {
    text-align: left;
    padding-left: 36px !important;
  }

  .profile-photo {
    margin-top: 48px !important;
  }

  .btn-mobile {
    padding: 10px;
  }

  a.btn-mobile {
    font-size: 14px !important;
  }
}

/* Media Queries for max-width: 950px */
@media (max-width: 950px) {
  .contact-box {
    padding: 24px;
    margin: 12px 24px;
  }

  .contact-box h4 {
    font-size: 24px;
  }

  .contact-box p {
    font-size: 14px;
  }

  .contact-box a {
    margin-top: 10px;
    font-size: 14px;
  }

  .hero {
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 80px;
  }

  .hero h1,
  .hero h2 {
    font-size: 36px;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 36px;
  }

  .hero p {
    font-size: 26px;
    margin: 80px auto 0;
  }

  svg {
    font-size: 20px;
  }

  .sub-header {
    padding-bottom: 60px;
  }

  .sub-header-text h4 {
    font-size: 18px;
  }

  .sub-header-text a {
    font-size: 18px !important;
  }

  .description {
    text-align: center;
    padding: 45px 12px 36px !important;
  }

  .content-container h1 {
    font-size: 33px;
    padding: 0;
    text-align: center;
    margin-top: 45px;
  }

  .content-container h2 {
    font-size: 20px;
    padding: 0;
    text-align: center;
  }

  .content-container a {
    font-size: 16px;
    display: inline;
  }

  .project-name {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  .btn-branding {
    font-size: 20px;
  }

  .btn-branding-outline {
    font-size: 14px;
  }

  .contact-link {
    font-size: 14px;
  }

  .btn-text {
    display: none;
  }

  .contact-form-container {
    width: 90%;
  }

  .profile-illustration {
    padding: 0 auto;
  }

  .sub-header-text h3 {
    padding: 12px 60px 16px;
  }

  img.about-logo {
    width: 120px;
    margin-top: 14px;
  }

  .technology-text {
    padding-top: 16px;
    padding-bottom: 36px;
  }

  .technology-sum {
    padding: 12px 12px;
  }

  .technology-sum .tech-badge {
    margin: 12px;
    width: 38px;
  }

  .code-box {
    width: 90%;
    font-size: 12px;
  }

  .sub-header-text h3 {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .sub-header,
  .technology-sum {
    padding-bottom: 40px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .technology-text h3 {
    margin: 0 20px;
    font-size: 16px;
  }

  /* .wave-container {
    display: none;
  } */
}
