.project-technologies {
  margin: 14px 16px;
  padding: 12px;
  background-color: var(--main-bg-color);
  border-radius: 14px;
  flex-wrap: wrap;
}

.tech-badge {
  margin-top: 4px;
  margin-bottom: 4px;
}

.technology-text {
  padding-top: 36px;
  padding-bottom: 36px;
}
.technology-text img {
  width: 42px;
  margin: 12px 24px;
}

.technology-text h3 {
  margin-bottom: 24px;
}

.technology-sum {
  background-color: var(--main-bg-color);
  width: 70%;
  padding-bottom: 24px;
  margin: 36px auto;
  border-radius: 42px;
  opacity: 0.9;
}
